*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #22c55e;
  --light-main-color: #49f387;
  --secondary-color: #e2e8f0;
  --card-color: #facc15;
  --subtext-color: #777;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* HEADER STYLES */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em 4em;
  background-color: var(--main-color);
  color: white;
}

.title {
  font-weight: bold;
  font-size: 3em;
}

/* MAIN SECTION STYLES*/

.main {
  display: flex;
  min-height: 100vh;
}

/* NAVBAR STYLES */

.navbar {
  position: relative;
  background: var(--card-color);
  color: white;
  padding: 1.5em 2em;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.new-projects,
.project,
.main-section {
  display: flex;
  flex-direction: column;
  /* gap: 0.5em; */
  width: 12em;
}

.add-projects-btn {
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-family: inherit;
  text-align: left;
  font-size: inherit;
}

.add-projects-btn > i {
  margin-right: 0.4em;
}

.nav-heading {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

.add-projects-btn:hover,
.project-item:hover,
.tab:hover,
.notes:hover {
  background: #ffdc4f;
  border-radius: 6px;
  cursor: pointer;
}

.add-projects-btn,
.notes,
.project-item,
.tab {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 1em;
}

.notes {
  display: flex;
  align-items: center;
}

/* CONTENT STYLES */

.slide {
  padding: 1em;
}

/* FOOTER STYLES */
.footer {
  position: absolute;
  font-size: 0.8em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5em;
  color: white;
  bottom: 15px;
}

.footer > a {
  color: white;
}
